h1 {
	font-size: 3em;
}

#header {
	text-align: center;
	position: relative;
}

#newGridButton {
	margin: 5px;
}

#clearButton {
	margin: 5px;
}

#selectColorButton {
	margin: 5px;
}

.row {
	clear: both;
}

#container {
	margin: auto;
	padding: 5px;
}

.box {
	background-color: white;
	border: 1px solid black;
	margin: 1px;
	float: left;
	vertical-align: top;
}

.painted {
	border: 1px solid black;
	margin: 1px;
	float: left;
	vertical-align: top;
}